<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
    <style>
        .main-container {
            background-color: #f2f2f2;
        }

        .content-container {
            background-color: #3498DB;
        }

        .footer-container {
            color: #fff;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <%-include('partials/header.ejs')%>
        <%-include('partials/nav.ejs')%>
        <div class="content-container">
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis pariatur corporis quibusdam iusto, 
            repellendus dolor. Iste aperiam possimus illo, deleniti voluptatibus doloremque expedita facilis, 
            sequi ab sed provident autem libero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam magnam ullam veniam suscipit accusamus, 
            voluptates consequuntur a non dignissimos dolorum iure voluptatibus ea nesciunt laborum quasi. Error mollitia molestias sit!
            <br><br>
        </div>
        <div class="footer-container">
            <%-include('partials/footer.ejs')%>
        </div>
    </div>
</body>
</html>